<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moda Knina</title>
  <link rel="icon" href="../img/negocio.ico" type="image/png">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <header>
    <h1>Vet App</h1>
    <nav>
        <input type="checkbox" id="toogle">
        <div class="logo">
            <img src="../img/negocio.png" alt="logo">
        </div>
        <ul class="list">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Libro</a></li>
        </ul>
        <label for="toogle" class="icon-bars">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>
  </header>

  <main>
    <section id="inicio" class="section">
        <div class="content">
            <div class="row">
                <h1>Bienvenido a MODA KNINA</h1>
                <a href="#" class="button">Contactanos</a>
            </div>
        </div>
    </section>

    <section id="contact">
        <h2>Contact Us</h2>
        <p>If you have any questions or concerns, feel free to reach out to us.</p>
        <p>Phone: 123-456-7890</p>
        <p>Email: info@example.com</p>
    </section>
  </main>
  
  
  <footer>
    <p>&copy; 2023 Vet App. All rights reserved.</p>
  </footer>
</body>
</html>